* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; /* Tutorial uses Poppins, I'm using standard. Might change it later */
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
}
/* Set the background image */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/backgroundAdjusted.jpg);
  background-size: cover;
  background-position: center;
}

/* Set section sub-title to white and larger in size */
.sub-title {
  color: #fff;
  font-size: 40px;
}

/* 
-------------NAVIGATION BAR-------------
*/

/* add padding to container div holding the nav-bar */
.container {
  padding: 10px 10%;
}

/* Set the nav-bar orientation */
nav {
  display: flex; /* sets content horizontally side-by-side */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
/* Set list content without bullets and in a horizontal line with some padding between */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
/* Remove hyperlink and set font size and color of nav-bar router-links */
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
/* Set hover affect on nav-bar router links */
nav ul li a::after {
  content: '';
  width: 0; /* hide purple line until hover-event occurs */
  height: 5px;
  background: #7d0aa0;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s; /* give transition half a second to complete */
}
/* Set hover event to modify purple line width to 100% on hover */
nav ul li a:hover::after {
  width: 100%;
}

/* 
-------------HEADER-TEXT-------------
*/

.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #d016ff;
}

/* 
-------------ABOUT SECTION-------------
*/
#about {
  padding: 80px 0;
  color: #ababab;
}
/* Set content of about section in a single row horizontally with some spacing */
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* adjust column 1 and 2 sizes with a 5% spacing separating them */
.about-col-1 {
  flex-basis: 35%;
}
.about-col-2 {
  flex-basis: 60%;
}
/* adjust user image */
.about-col-1 img {
  /* width: 100%; your original image is too small so it 100% displays a small image. Commented out so let it auto set to fill the page*/
  border-radius: 15px;
}

/* Set tab-titles orientation */
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
/* Increase tab-link font size and add right-margin for spacing */
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
/* Set hover after effect on tab links */
.tab-links::after {
  content: '';
  width: 0; /* hide purple line until hover-event occurs */
  height: 3px;
  background: #7d0aa0;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
/* Set hover event on tab links */
.tab-links.active-link::after {
  width: 50%;
}
/* set tab-content list stlyings */
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #b770c9;
  font-size: 16px;
}
/* set degree specifications to a smaller font */
#education p {
  font-size: 12px;
}
/* hide all tab-contents by default */
.tab-contents {
  display: none;
}
/* display active-tab only */
.tab-contents.active-tab {
  display: block;
}

/* 
-------------SERVICES SECTION-------------
*/
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
/* set services inside grey card boxes */
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
/* adjust icon size */
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
/* adjust title font size and spacing */
.services-list div h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
/* adjust link decorations */
.services-list div a {
  text-decoration: none;
  color: #fff;
  margin-top: 30px;
  font-size: 12px;
  display: inline-block;
}
/* set transition hover effect on cards to lift upwards and change to purple */
.services-list div:hover {
  background: #7d0aa0;
  transform: translateY(-10px);
}
