* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; /* Tutorial uses Poppins, I'm using standard. Might change it later */
  box-sizing: border-box;
}



body {
  /* background: #080808; */
  background-image: url(images/dark-pattern-background.jpg);
  background-repeat: repeat;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

/* add padding to container */
.container {
  padding: 10px 10%;
}
/* 
-------------BUTTONS AND SOCIAL ICONS-------------
*/

/* set button design */
.btn {
  display: block;
  margin: 20px auto;
  width: fit-content;
  border: 1px solid #7d0aa0;
  padding: 14px 50px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.btn:hover {
  background: #7d0aa0;
  transform: scale(1.1);
}
/* set button 2 design (colored background) */
.btn.btn2 {
  display: inline-block;
  background: #7d0aa0;
  margin-bottom: 0;
}

/* social icon buttons */
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 60px;
  margin-right: 50px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #7d0aa0;
  transform: translateY(-5px);
}

/* 
-------------NAVIGATION BAR-------------
*/

/* Set the nav-bar orientation */
nav {
  width: 100%;
  display: flex; /* sets content horizontally side-by-side */
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  padding: 0px 35px;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  z-index: 9;
}
.logo.small {
  width: 200px;
}
.logo.large {
  width: 300px;
}
/* Set list content without bullets and in a horizontal line with some padding between */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
/* Remove hyperlink and set font size and color of nav-bar router-links */
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
/* Set hover affect on nav-bar router links */
nav ul li a::after {
  content: '';
  width: 0; /* hide purple line until hover-event occurs */
  height: 5px;
  background: #7d0aa0;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s; /* give transition half a second to complete */
}
/* Set hover event to modify purple line width to 100% on hover */
nav ul li a:hover::after {
  width: 100%;
}
nav .bi {
  display: none; /* hide icons of close and menu */
}

/* 
-------------HERO SECTION-------------
*/

/* Set the background image of Hero Section */
#header {
  /* width: 100%; */
  height: 100vh;
  background-image: url(images/backgroundAdjusted.jpg);
  background-size: cover;
  background-position: center;
}
/* Set section sub-title to white and larger in size */
.sub-title {
  color: #fff;
  font-size: 60px;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #d016ff;
}

/* 
-------------ABOUT SECTION-------------
*/
#about {
  padding: 50px 0;
  color: #d3d3d3;
}
/* Set content of about section in a single row horizontally with some spacing */
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* adjust column 1 and 2 sizes with a 5% spacing separating them */
.about-col-1 {
  flex-basis: 35%;
}
.about-col-2 {
  flex-basis: 60%;
}
/* adjust user image */
.about-col-1 img {
  /* width: 100%; your original image is too small so it 100% displays a small image. Commented out so let it auto set to fill the page*/
  border-radius: 15px;
  height: 640px;
  width: 360px;
  margin-top: 90px;
  margin-left: 50px;
}
/* set about description paragraphs text */
.about-description {
  font-size: 20px;
  line-height: 25px;
}
/* Set tab-titles orientation */
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
/* Increase tab-link font size and add right-margin for spacing */
.tab-links {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #f1f1f1;
}
/* Set hover after effect on tab links */
.tab-links::after {
  content: '';
  width: 0; /* hide purple line until hover-event occurs */
  height: 3px;
  background: #7d0aa0;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
/* Set hover event on tab links */
.tab-links.active-link::after {
  width: 50%;
}
/* set tab-content list stlyings */
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  padding-bottom: 10px;
  line-height: 25px;
  font-size: 18px;
}
.tab-contents ul li span {
  color: #b770c9;
  font-size: 22px;
}
/* set degree specifications to a smaller font */
#education p {
  font-size: 16px;
  padding-left: 20px;
}
/* hide all tab-contents by default */
.tab-contents {
  display: none;
}
/* display active-tab only */
.tab-contents.active-tab {
  display: block;
}

/* 
-------------SKILLS SECTION-------------
*/
#services {
  padding: 50px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
/* set skills inside grey card boxes */
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 25px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  text-align: center;
}
/* adjust icon size */
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
/* adjust title font size and spacing */
.services-list div h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
}
/* adjust title font size and spacing */
.services-list div li {
  list-style-type: none;
  padding: 10px;
}

/* adjust link decorations */
.services-list div a {
  text-decoration: none;
  color: #fff;
  margin-top: 30px;
  font-size: 12px;
  display: inline-block;
}
/* set transition hover effect on cards to lift upwards and change to purple */
.services-list div:hover {
  background: #7d0aa0;
  transform: translateY(-10px);
}

/* 
-------------PORTFOLIO SECTION-------------
*/
/* add spacing to portfolio container */
#portfolio {
  padding: 50px 0;
}
/* set thumbnail images in a grid pattern */
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

/* style project accordian and image slider */
.accordian-col-left{
  flex-basis: 55%;
}

.accordian-col-right{
  flex-basis: 45%;
}

#accordian {
  margin: 100px 10px;
  padding: 0px;
  width: 100%;
}
#accordian li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: #706f6f;
  padding: 10px;
  border-radius: 4px;
}
#accordian li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  color: #000000;
}

#accordian li label span{
  transform: rotate(90deg);
  font-size: 30px;
  color: #333;
}
#accordian label + input[type="radio"]{
  display: none;
}

#accordian .content{
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#accordian label + input[type="radio"]:checked + .content{
  max-height: 900px;
}
#accordian p {
  color: #000000;
}
html {
  scroll-padding-top: 14rem;
}
.container{padding: 2rem;}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit:cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: blueviolet;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}

/* 
-------------CONTACT SECTION-------------
*/
/* add spacing to contact container */
#contact {
  padding: 50px 0;
}
/* set column left and right sizes */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
/* style personal contact information */
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #7d0aa0;
  margin-right: 15px;
  font-size: 25px;
}

/* set the contact form */
.contact-right form {
  width: 100%;
}
.resumes {
  margin-bottom: 50px;
}
form span {
  color: #d2d2d2;
  font-size: 24px;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
/* adjust submit button */
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

#msg {
  color: #61b752;
  margin-top: 20px;
  display: block;
}

/* 
-------------FOOTER SECTION-------------
*/
.footer-links {
  background: #262626;
  width: 100%;
  padding: 25px 0;
}
.footer-links h3 {
  margin-bottom: 20px;
}
/* set 3 columns */
.col-left {
  flex-basis: 30%;
}
.col-middle {
  flex-basis: 20%;
}
.col-right {
  flex-basis: 20%;
}
.col-middle ul li {
  list-style: none;
  line-height: 1.7;
}
.col-middle ul li a {
  color: white;
  text-decoration: none;
}


/* set copywrite footer section */
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #000000;
  font-weight: 300;
  /* margin-top: 20px; */
}
.copyright i {
  color: #7d0aa0;
}

/* 
-------------CSS FOR SMALL SCREEN-------------
*/

@media only screen and (max-width: 600px) {
  #header {
    background-image: url(images/phoneBackgroundAdjusted.jpg);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .logo.small {
    width: 140px;
  }
  .logo.large {
    width: 200px;
  }
  nav .bi {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #7d0aa0;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .bi {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  /* .about-col-1 img {
    width: 100%;
  } */
  .about-col-1 img {
    /* width: 100%; your original image is too small so it 100% displays a small image. Commented out so let it auto set to fill the page*/
    border-radius: 15px;
    height: 426px;
    width: 240px;
    margin-top: 0px;
    margin-left: 10px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  /* stack project accordian content */
.accordian-col-left{
  flex-basis: 100%;
}
img{
  width: 100%;
}
.accordian-col-right{
  flex-basis: 100%;
}
  /* reduce project card layer content padding */
  .layer {
    padding: 0 10px;
  }
  /* adjust project card layered content text sizing */
  .layer h3 {
    font-size: 25px;
  }
  .layer p {
    font-size: 16px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .col-left,
  .col-middle,
  .col-right {
    flex-basis: 100%;
  }
  .col-middle h3,
  .col-right h3 {
    margin-top: 50px;
  }
  .copyright {
    font-size: 14px;
  }
}
